.cards > ul {
  display: grid;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  grid-template-columns: 1fr;
}

.cards-card-image img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.cards li {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.cards-card-body {
  padding: 1rem;
}

@media (min-width: 600px) {
  .cards > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}