.columns-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.columns-img-col img {
  width: 100%;
  height: auto;
}

@media (min-width: 900px) {
  .columns-row {
    flex-direction: row;
    align-items: center;
  }
  .columns-row > div {
    flex: 1;
  }
}