.accordion-title {
  background: #f9f9f9;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.accordion-title::after {
  content: '+';
}

.accordion-row.is-open .accordion-title::after {
  content: '-';
}

.accordion-content {
  display: none;
  padding: 1rem;
}

.accordion-row.is-open .accordion-content {
  display: block;
}