.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.hero .hero-image {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .hero-content {
  padding: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  max-width: 600px;
  margin: 2rem;
}

@media (min-width: 900px) {
  .hero {
    min-height: 600px;
    justify-content: center;
  }
  .hero .hero-content {
    padding: 4rem;
    margin-left: 10%;
  }
}